body {
  & .l-footer {
    &Image {
      & img {
        width: 260px;
      }
    }
  }

  &.color02 { 
    & .footer {
      &-01 {
        background-color: #031731;

        & .footer-address {
          text-align: left;  
        }
      }

      &-02 {
      background-color: #031731;
      }
    }

    & #footer {
      border-top: initial;

      &-brand-area {
        border-bottom: initial;
      }

      &-content-area {
        & h4 {
          font-size: 20px;
          font-weight: bold;
        }
      }

      & .btn {
        &:hover {
          & a {
            color: #031731;
          }
        }
      }
    }
  }
}

#footer-content-area #footer-cont-about li:before, #footer-content-area #footer-cont-content li:before {
  content: initial;
}

@media screen and ( max-width: 767px ){
  body.home.color02 {
    & #footer {
      & .wrap {
        text-align: center;
        padding: 10px 0;
      }

      &-list-area {
        width: auto;
        margin: auto;
      }
    }

    & .footer-01 {
      padding: 30px 0;
      
      & .footer-address {
        width: 280px;
        margin: auto;
      }
    }

  }
}










