body {
  &.color02 {
    & #main_visual {
      background-image: url('../images/eyecatch.jpg');
      background-size: cover;
    }

    & #header {
    background: none;
    }

    & #gnav {

      background: transparent;
      & .standerd {
        & li.menu-item a {
          color: #000;
          &:hover {
            color: $main-color;
          }
        }
        & ul.sub-menu a {
          color: $main-color;
          &:hover {
            color: #FFF;
          }
        }
      }
      & ul li {
        &:hover a {
          color: $main-color;
          background: initial;
          border-bottom: solid 4px $main-color;
        }

        &.current-menu-item {
          & a {
            background: initial;
          }
        }

        & a {
          border-bottom: 4px solid transparent;
          background: none;
          color: #fff;
          padding: 30px 20px;
          box-sizing: border-box;

          &:hover {
            background: initial;
            color: $main-color;
            border-bottom: solid 4px $main-color;
          }
        }
        & .sub-menu {
          border: 1px solid #e5e5e5;

          & li {
            &:last-child {
              border-bottom: initial;
            }

            & a {
              background: #fff;
              color: $main-color;
              padding: 10px 15px;
              border-bottom: none;

              &:hover {
                background: $main-color;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.l-rootHeader {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-between;
  transition: .5s;
  width: 100%;

  &--active {
    background: #fff !important;
    border-bottom: 1px solid #e5e5e5;

    & a {
      color: #333 !important;
      &:hover {
        color: $main-color !important;
      }
    }
    & .sub-menu li a {
        color: $main-color !important;
      &:hover {
        color: #FFF !important;
      }
    }
  }
}


.l-header {
  &Image {
    & img {
      width: 260px;
    }
  }
}

@media screen and ( max-width: 1200px ){
  #header-nav-btn {
    & a {
      background: #fff;
    }

    & i {
      color: $main-color;
    } 
  }

  #gnav-sp #header-cont-content li {
    & a {
      &:hover {
        opacity: 0.5;
      }

      &:before {
        font-family: initial;
        content: initial;
        position: initial;
        left: initial;
        top: initial;
      }
    }
  }

  & #gnav-sp {
    background: #000;
    background: rgba(0,0,0,0.8);
  }
}

@media screen and ( max-width: 767px ){
  & #header #logo {
    width: 200px;
    margin: 0 15px;
  }
  .post-content h2 {
    margin: 80px 0 32px -30px;
    padding: 16px 16px 16px 20px;
  }

  & #gnav-sp {
    background: #000;
    background: rgba(0,0,0,0.8);
    text-align: center;
  }

  #header-nav-btn {
    display: block;
    width: auto;
    margin: 0 20px;
    line-height: 92px;
    float: right;

    & a {
      display: initial;
      text-align: initial;
      font-size: 25px;
      padding: initial;
      line-height: initial;
      background: initial;
      width: initial;
    }

    & i {
      font-size: 32px;
    }
  }
}








