body {
  .l- {
    &title {
      &__heading {
        text-align: center;
        padding-bottom: 30px;

        & h2 {
          padding: 0;
          font-size: 24px;
          margin-bottom: 10px;
        }
      }

      &__image {
      width: 100px;
      height: 12px;
      background: url('../images/titleUl.png') no-repeat; 
      background-size: cover;
      margin: auto;

        &--mirror {
          width: 100px;
          height: 12px;
          background: url('../images/titleUl_white.png') no-repeat; 
          background-size: cover;
          margin: auto;
        }

        &--sub {
          width: 20px;
          height: 17px;
          background: url('../images/titleSub.png') no-repeat; 
          background-size: cover;
          margin: 0 5px 0 15px;
        }
      }
    }

    &astarisk {
      color: #e65f5f;
    }
  }
}

@media screen and ( max-width: 767px ){
  body {
    &.l-title {
      &__image {
        &--sub {
          margin: initial;
        }
      }
    }
  }
}