body {
  &.color02 {
    & form {
      & input[type="submit"], body.color02 form button {
        background: initial;
        color: $main-color;
      }
    }
  }
}


.p- {
  &contact {
    &__content {
      text-align: center;
      width: 800px;
      margin: auto;
    }

    &__label {
      text-align: left;
    }

    &__text {
      font-size: 14px;
      text-align: left;
    }

    &__items {
      width: 330px;
      margin: auto;
    }
  }
}



.wpcf7 {
  &c-conf {
    & input[type="text"], input[type="textarea"], input[type="email"], input[type="button"], textarea {
      border: initial;
    }
  }

  & input[type="button"] {
    @include baseBtn;
    @include disabledBtn;
  }

  & input[type="text"], input[type="textarea"], input[type="email"], textarea, .form-control[readonly] {
    background-color: #fff;
    color: #333;
    display: block;
  }

  & input[type="submit"] {
    @include baseBtn; 
    
    &:hover {
      background-color: #fff;

      & a {
        color: $main-color;
        text-decoration: none;
      }
    }
    

    @include activeBtn;
      & a {
        color: $main-color;
      }

      &:hover {
        background-color: $main-color;
        color: #fff;

        & a {
          color: #fff;
          text-decoration: none;
        }
      } 
  
    & input[type="button"] {
      @include baseBtn; 
      
      &:hover {
        background-color: #fff;

        & a {
          color: $main-color;
          text-decoration: none;
        }
      }

      @include disabledBtn;

      & a {
        color: #dadada;
      }

      &:hover {
        background-color: #dadada;
        color: #fff;

        & a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

span.wpcf7-list-item.first {
  margin:initial;
}

@media screen and ( max-width: 767px ) {
  body {
    & .p-contact {
      &__content {
        width: auto;
        margin: auto;
      }

      &__items {
        width: auto;
        margin: auto;
      }
    }
  }
}











