.nav-tabs {
  font-size: 14px;

  & .nav-item {
    margin: 0 10px;
  }

  & .nav-link {
    border: initial;
  }

  & .c-tab {
    &__currentMenu {
      border-bottom: solid 3px $main-color;

      &:hover {
        border: solid 1px #fff;
        border-bottom: solid 3px $main-color;
      }
    }

    &--active {
      &:hover {
      border: solid 1px #fff;
      color: $main-color;
      }
    }
  }

}

@media screen and ( max-width: 767px ) {
  & .nav-link {
    padding: initial;
  }

  & .nav-tabs {
    & .c-tab {
      &__currentMenu {
        border-bottom: solid 3px $main-color;
        padding-bottom: 10px;
      }
    }
  }

}