.btn {
  border: 1px solid #fff;
  padding: 10px 60px;
  font-size: 14px;
  border-radius: 0px;
  color: #fff;

  &:hover {
      background-color: #fff;

      & a {
        color: #0069aa;
        text-decoration: none;
      }
    }
  
  &--action {
    background-color: #fff;
    border-color: #0069aa;
    color: #0069aa;

    & a {
      color: #0069aa;
    }

    &:hover {
      background-color: #0069aa;
      color: #fff;

      & a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}